@font-face {
	font-family: 'IBMPlexSans';
	src: url('IBMPlexSans-Regular.otf');
}

body {
	margin: 0;
	padding: 0;
	background-color: #000;
	color: rgba(208, 235, 183, 0.91);
	font-family: IBMPlexSans;
	font-size: 3vh;
	line-height: 4vh;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#handleft img {
	width: 40vw;
	height: 80vh;
	position:absolute;
	top: 20vh;
	margin-left: 0px;
	margin-right: 20%;
	z-index: 1;
	user-select: none;
	pointer-events: none;

}
#handright img {
	width: 40vw;
	height: 80vh;
	position:absolute;
	top: 20vh;
	margin-left: 60vw;
	margin-right: 100vw;
	z-index: 1;
	user-select: none;
	pointer-events: none;

}

#info {
	position: absolute;
	top: -1vh;
	width: 100%;
	padding: 1vw;
	box-sizing: border-box;
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1;
}